# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Environment Variables
.env
.env.local
.env.*.local

# Editor / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
